# Em grupos (de preferência da AC02)

Fazer a carga em arquivo parquet das dimensões Bolsa e Curso em arquivos chamados d_bolsa.parquet e d_curso.parquet

In [ ]:
import pandas as pd

# Bolsa

In [ ]:
df = pd.read_csv('pda-prouni-2019-sample.csv', sep=';')

In [ ]:
d_bolsa = df[['TIPO_BOLSA']]

In [ ]:
d_bolsa = d_bolsa.replace({'BOLSA INTEGRAL' : 'Bolsa Integral', 'BOLSA PARCIAL 50%' : 'Bolsa Parcial'})

In [ ]:
Var1 = {'TIPO_BOLSA' : 'TipoBolsa'}

In [ ]:
d_bolsa = d_bolsa.rename(Var1, axis = 1)

In [ ]:
d_bolsa = d_bolsa.drop_duplicates().reset_index()

In [ ]:
d_bolsa = d_bolsa.rename({'index':'SkBolsa'}, axis=1)

In [ ]:
d_bolsa.insert(2,"PorcentagemBolsa",['100%','50%'],True)

In [ ]:
d_bolsa

   SkBolsa       TipoBolsa PorcentagemBolsa
0        0  Bolsa Integral             100%
1        3   Bolsa Parcial              50%

In [ ]:
d_bolsa.to_parquet('d_bolsa.parquet')

# Curso

In [ ]:
d_curso = df[['MODALIDADE_ENSINO_BOLSA', 'NOME_CURSO_BOLSA', 'NOME_TURNO_CURSO_BOLSA']]

In [ ]:
renomear = {'MODALIDADE_ENSINO_BOLSA' : 'ModalidadeEnsino', 'NOME_CURSO_BOLSA' : 'NomeCurso', 'NOME_TURNO_CURSO_BOLSA' : 'Periodo'}

In [ ]:
d_curso = d_curso.rename(renomear, axis = 1)

In [ ]:
d_curso = d_curso.drop_duplicates().reset_index()

In [ ]:
d_curso = d_curso.rename({'index': 'SkCurso'}, axis=1)

In [ ]:
d_curso

,SkCurso,ModalidadeEnsino,NomeCurso,Periodo
0,0,Presencial,Comunicação Social Com Habilitação Em Jornalismo,Noturno
1,1,Presencial,Direito,Matutino
2,2,EAD,Filosofia,Curso a distância
3,3,Presencial,Educação Física,Matutino
4,4,EAD,Análise E Desenvolvimento De Sistemas,Curso a distância
...,...,...,...,...
978,9878,Presencial,Comunicação Social - Cinema E Video,Noturno
979,9887,Presencial,Engenharia De Produção - Barra V - Terra Encan...,Noturno
980,9941,Presencial,Psicologia (Os),Noturno
981,9952,Presencial,Engenharia Elétrica Com Ênfase Em Eletrônica,Noturno
982,9954,Presencial,Curso Superior De Tecnologia Em Gestão Financeira,Matutino

In [ ]:
d_curso.to_parquet('d_curso.parquet')